Options -Indexes

ErrorDocument 403 /frontend/errores/err403.html
ErrorDocument 404 /frontend/errores/err404.html
ErrorDocument 500 /frontend/errores/err500.html

<IfModule mod_rewrite.c>
    RewriteEngine On

    # 1️⃣ No tocar archivos reales
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # ROOT → /home
   RewriteRule ^$ home [R=302,L]

   RewriteRule ^home(?:/.*)?$ frontend/pages/home.html [L]

    # EMERGENCIAS

     RewriteRule ^emergencias$ /frontend/pages/Emergencia/vistaEmergencias.html [L]


     RewriteRule ^avisos$ /frontend/pages/Avisos/vistaAvisos.html [L] 

     RewriteRule ^salidas$ /frontend/pages/Salidas/vistaSalidas.html [L]  

     RewriteRule ^mapa$ /frontend/pages/Mapa/vistaMapa.html [L]  

     RewriteRule ^alineacion$ /frontend/pages/Alineacion/vistaAlineacion.html [L] 

     RewriteRule ^cuadranteAnual$ /frontend/pages/Cuadrante/vistaCuadranteAnual.html [L] 

     RewriteRule ^cuadranteMensual$ /frontend/pages/Cuadrante/vistaCuadranteMensual.html [L] 


     
    

    # Si el archivo o directorio existe, no tocar
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # NO tocar frontend
    RewriteCond %{REQUEST_URI} ^/frontend/
    RewriteRule ^ - [L]

    # API → api_rest/public
    RewriteCond %{REQUEST_URI} ^/api/
    RewriteRule ^api/(.*)$ api_rest/public/$1 [L,QSA]
    
</IfModule>