version: "3.9"

services:
  apache:
    build: .
    container_name: miguel-apache
    ports:
      - "8081:80"
    volumes:
      - ./:/var/www/html
      - ./configVirtualHost/000-default.conf:/etc/apache2/sites-available/000-default.conf:ro

