:root {
  --rojo-chillon: #f21d2f;
  --rojo-granate: #a61c28;
  --rojo-pastel: #ff827e;
  --negro: #262223;
  --blanco: #f2f2f2;
  --gris: #818181;
}

header {
  background-color: var(--rojo-granate);
  padding: 0.75rem 1.5rem;
}

.header-text, .header-user span {
  color: var(--blanco);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--rojo-chillon);
}
